<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>Pipes incluidos en Angular - usualmente en el Common Module</p>
</div>

<div class="grid">
    <div class="col">
        <p-fieldset legend="header">Contents</p-fieldset>
    </div>
    <div class="col">
        <p-fieldset legend="i18Select Pipe" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
    <div class="col">
        <p-fieldset legend="i18Plural Pipe" [toggleable]="true">
            Content
        </p-fieldset>
    </div>
</div>